<h1>this is new post page</h1>
<h2>this is also th edit page</h2>

<div class = "container">
<%= form_with(model: @post, local: true) do |form| %>

  <% if @post.errors.present? %>
    <p class="form-errors">
      <%= @post.errors.full_messages.join(", ") %>
    </p>
  <% end %>

  <div>
    <%= form.label :title %> <br />
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %> <br />
    <%= form.text_area :description, cols: 50, rows: 5 %>
  </div>

  <%= form.submit class: 'btn btn-outline-primary' %>

<% end %>
</div>