<div class = "container">
<section class ="section">

<h2 class="title"><%= @post.title %> </h2>
<div class="content">
<%= @post.description %>
</div>

<div>
  <small>
    Asked by <%= @post.user&.first_name || 'DELETED' %>
    <%= time_ago_in_words(@post.created_at) %> ago
  </small>
  |
  <small>
    Last edited <%= time_ago_in_words(@post.updated_at) %> ago
  </small>
  
</div>



<div>
<small>
Posted <%= time_ago_in_words(@post.created_at) %> ago
</small>
<% if can? :update, @post%>
<small>
      <%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-outline-primary" %>
</small>
<% end %>
<% if can? :destroy, @post%>
<small>
      <%= link_to "Delete", post_path(@post.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary" %>
</small>
<% end %>
</div>
  

  <section>
  <h1>Reviews</h1>

  <%= form_with(model: [@post, @new_review], local: true) do |f| %>
    <% if @new_review.errors.present? %>
      <p class="form-errors">
        <%= @new_review.errors.full_messages.join(", ") %>
      </p>
    <% end %> 
    <div class="form-group">

      <%= f.text_area(
        :description,
        cols: 50,
        rows: 5,
        placeholder: "Whats on your mind?",
        class: "form-control"
      ) %>
    </div>
    <%= f.submit "Submit", class: "btn btn-outline-primary" %>
  <% end %>

  <div class="review-list">
    <% @reviews.each do |review| %>
      <div>
        <p>
          <%= review.description %> <br>
          <li>
          <small>
            Reviewed by <%= review.user&.first_name || 'DELETED' %>
            |
            Commented <%= time_ago_in_words(review.created_at) %> ago
          </small>
          
          
            <% if can? :destroy, review %>
              <%= link_to("Delete", post_comment_path(@post, review), method: :delete, data: {confirm: "Are you sure?"})%>
            <%end %>
            
          </small>
          </li>
        </p>
      </div>
    <% end %>
  </div>
</section>

</div>
