<!DOCTYPE html>
<html>
  <head>
    <title>Idea Factory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class ="navigationtitle">
      <%= link_to("Idea Factory", root_path) %>
      </div>
      <ul class="justify-content-end">
        <%= link_to("Home", root_path) %>
        
        <%= link_to("New Idea", new_post_path) %>
       
      </ul>  
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
